[submodule "dataModel.Agrifood"]
	path = dataModel.Agrifood
	url = https://github.com/smart-data-models/dataModel.Agrifood.git
[submodule "dataModel.Aquaculture"]
	path = dataModel.Aquaculture
	url = https://github.com/smart-data-models/dataModel.Aquaculture.git
[submodule "dataModel.Weather"]
	path = dataModel.Weather
	url = https://github.com/smart-data-models/dataModel.Weather.git
